@model ELK_MVC.Models.ViewModel.ResponseVm
<style>
    .control {
        display: inline-block;
    }
</style>
<form asp-action="GetReport" asp-controller="Home" method="post" class="">
    <div class="form-control">
        <div class="col-md-2 control">
            <label class="form-label" asp-for="SearchModel.Size"></label>
            <input class="form-control" asp-for="SearchModel.Size" />
        </div>
        <div class="col-md-2 control">
            <label class="form-label" asp-for="SearchModel.Skip"></label>
            <input class="form-control" asp-for="SearchModel.Skip" />
        </div>
        <div class="col-md-2 control">
            <label class="form-label" asp-for="SearchModel.From"></label>
            <input class="form-control" asp-for="SearchModel.From" />
        </div>
        <div class="col-md-2 control">
            <label class="form-label" asp-for="SearchModel.To"></label>
            <input class="form-control" asp-for="SearchModel.To" />
        </div>
        <div class="col-md-2 control">
            <label class="form-label" asp-for="SearchModel.AppicationName"></label>
            <input class="form-control" asp-for="SearchModel.AppicationName" />
        </div>
        <div class="col-md-5 control">
            <label class="form-label" asp-for="SearchModel.Message"></label>
            <input class="form-control" asp-for="SearchModel.Message" />
        </div>
        <div class="col-md-2 control">
            <label class="form-label" asp-for="SearchModel.LogLevels"></label>
            <select class="form-control" asp-for="SearchModel.LogLevels">
                <option value="0">Trace</option>
                <option value="1">Debug</option>
                <option value="2">Information</option>
                <option value="3">Warning</option>
                <option value="4">Error</option>
                <option value="5">Critical</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
    </div>
</form>
<hr />
@if (Model != null)
{
    <p class="control">Total Records : @Model.Reports.Count</p>
}
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">timestamp</th>
            <th scope="col">level</th>
            <th scope="col">messageTemplate</th>
            <th scope="col">message</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Reports)
            {
                <tr>
                    <th scope="row">@item.timestamp</th>
                    <td>@item.level</td>
                    <td>@item.messageTemplate</td>
                    <td>@item.message</td>
                </tr>
            }
        }
    </tbody>
</table>
